flows (1).json
[
    {
        "id": "d98fcec3c900c047",
        "type": "tab",
        "label": "PubSubFlow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cb7654c26cbb016d",
        "type": "comment",
        "z": "d98fcec3c900c047",
        "name": "Subscribe to a Topic",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "d0fa14275eab6771",
        "type": "comment",
        "z": "d98fcec3c900c047",
        "name": "Publish to a Topic",
        "info": "",
        "x": 110,
        "y": 540,
        "wires": []
    },
    {
        "id": "deb5a72da38d6b4d",
        "type": "mqtt in",
        "z": "d98fcec3c900c047",
        "name": "TIRLSK Robot",
        "topic": "AzureLab6",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a58e737f0d9acfde",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "6b1cf5df7cd048db"
            ]
        ]
    },
    {
        "id": "878fc7a8e24eab15",
        "type": "mqtt out",
        "z": "d98fcec3c900c047",
        "name": "Azure Server",
        "topic": "Lab6MQTT",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a58e737f0d9acfde",
        "x": 410,
        "y": 580,
        "wires": []
    },
    {
        "id": "3ffcfea05f3adbf7",
        "type": "ui_button",
        "z": "d98fcec3c900c047",
        "name": "Start",
        "group": "627022014fc73fb4",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "go",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 580,
        "wires": [
            [
                "878fc7a8e24eab15"
            ]
        ]
    },
    {
        "id": "60ff8faadba31de5",
        "type": "ui_button",
        "z": "d98fcec3c900c047",
        "name": "Stop",
        "group": "627022014fc73fb4",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "878fc7a8e24eab15"
            ]
        ]
    },
    {
        "id": "c9bd2d391dbe34cb",
        "type": "ui_gauge",
        "z": "d98fcec3c900c047",
        "name": "Left Wheel RPMs",
        "group": "627022014fc73fb4",
        "order": 21,
        "width": 12,
        "height": 8,
        "gtype": "gage",
        "title": "Left Wheel RPMs",
        "label": "units",
        "format": "{{msg.payload.AL}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "6b1cf5df7cd048db",
        "type": "json",
        "z": "d98fcec3c900c047",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "c9bd2d391dbe34cb",
                "79f629d9816a0870",
                "b574145947b69656",
                "b74bc8c6d6cf54e7",
                "d6213af919959838",
                "939a4634c322d7c9",
                "a4b3bfbb025cda48",
                "3c8f8e78c5a16ee6",
                "fddb90c1b7314ad2"
            ]
        ]
    },
    {
        "id": "79f629d9816a0870",
        "type": "ui_gauge",
        "z": "d98fcec3c900c047",
        "name": "Right Wheel RPMs",
        "group": "627022014fc73fb4",
        "order": 22,
        "width": 12,
        "height": 8,
        "gtype": "gage",
        "title": "Right Wheel RPMs",
        "label": "units",
        "format": "{{msg.payload.AR}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "fddb90c1b7314ad2",
        "type": "debug",
        "z": "d98fcec3c900c047",
        "name": "JSON from Robot",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 40,
        "wires": []
    },
    {
        "id": "b574145947b69656",
        "type": "ui_text",
        "z": "d98fcec3c900c047",
        "d": true,
        "group": "627022014fc73fb4",
        "order": 23,
        "width": 8,
        "height": 1,
        "name": "Left Distance",
        "label": "Left Distance",
        "format": "{{msg.payload.D0}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "b74bc8c6d6cf54e7",
        "type": "ui_text",
        "z": "d98fcec3c900c047",
        "d": true,
        "group": "627022014fc73fb4",
        "order": 24,
        "width": 8,
        "height": 1,
        "name": "Center Distance",
        "label": "Center Distance",
        "format": "{{msg.payload.D1}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "d6213af919959838",
        "type": "ui_text",
        "z": "d98fcec3c900c047",
        "d": true,
        "group": "627022014fc73fb4",
        "order": 25,
        "width": 8,
        "height": 1,
        "name": "Right Distance",
        "label": "Right Distance",
        "format": "{{msg.payload.D2}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "9b20fe7baab588b6",
        "type": "ui_text",
        "z": "d98fcec3c900c047",
        "group": "627022014fc73fb4",
        "order": 13,
        "width": 2,
        "height": 1,
        "name": "Crashes",
        "label": "Crashes",
        "format": "{{msg.payload.C}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "e7d11997f1f93e8f",
        "type": "ui_chart",
        "z": "d98fcec3c900c047",
        "name": "",
        "group": "627022014fc73fb4",
        "order": 26,
        "width": 8,
        "height": 7,
        "label": "Left Distance over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "500",
        "removeOlder": "30",
        "removeOlderPoints": "200",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 180,
        "wires": [
            []
        ],
        "inputLabels": [
            "Left Distance"
        ]
    },
    {
        "id": "15af583ea206fb16",
        "type": "ui_chart",
        "z": "d98fcec3c900c047",
        "name": "",
        "group": "627022014fc73fb4",
        "order": 27,
        "width": 8,
        "height": 7,
        "label": "Center Distance over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "500",
        "removeOlder": "30",
        "removeOlderPoints": "200",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 220,
        "wires": [
            []
        ],
        "inputLabels": [
            "Left Distance"
        ]
    },
    {
        "id": "675ab20af58ed836",
        "type": "ui_chart",
        "z": "d98fcec3c900c047",
        "name": "",
        "group": "627022014fc73fb4",
        "order": 28,
        "width": 8,
        "height": 7,
        "label": "Right Distance over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "500",
        "removeOlder": "30",
        "removeOlderPoints": "200",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 260,
        "wires": [
            []
        ],
        "inputLabels": [
            "Left Distance"
        ]
    },
    {
        "id": "939a4634c322d7c9",
        "type": "change",
        "z": "d98fcec3c900c047",
        "name": "Left Distance",
        "rules": [
            {
                "t": "move",
                "p": "payload.D0",
                "pt": "msg",
                "to": "msg.payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 180,
        "wires": [
            [
                "e7d11997f1f93e8f"
            ]
        ]
    },
    {
        "id": "a4b3bfbb025cda48",
        "type": "change",
        "z": "d98fcec3c900c047",
        "name": "Center Distance",
        "rules": [
            {
                "t": "move",
                "p": "payload.D1",
                "pt": "msg",
                "to": "msg.payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "15af583ea206fb16"
            ]
        ]
    },
    {
        "id": "3c8f8e78c5a16ee6",
        "type": "change",
        "z": "d98fcec3c900c047",
        "name": "Right Distance",
        "rules": [
            {
                "t": "move",
                "p": "payload.D2",
                "pt": "msg",
                "to": "msg.payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "675ab20af58ed836"
            ]
        ]
    },
    {
        "id": "210e900569b44c9e",
        "type": "ui_text",
        "z": "d98fcec3c900c047",
        "group": "627022014fc73fb4",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "KP",
        "label": "KP",
        "format": "{{msg.payload.KP}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "7f072201536a98e4",
        "type": "ui_text",
        "z": "d98fcec3c900c047",
        "group": "627022014fc73fb4",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "KI",
        "label": "KI",
        "format": "{{msg.payload.KI}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "d407a817c62e3329",
        "type": "ui_button",
        "z": "d98fcec3c900c047",
        "name": "+KP",
        "group": "627022014fc73fb4",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "+KP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "kp+",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 700,
        "wires": [
            [
                "878fc7a8e24eab15"
            ]
        ]
    },
    {
        "id": "b1efe8a02d1e1bee",
        "type": "ui_button",
        "z": "d98fcec3c900c047",
        "name": "-KP",
        "group": "627022014fc73fb4",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "-KP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "kp-",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 740,
        "wires": [
            [
                "878fc7a8e24eab15"
            ]
        ]
    },
    {
        "id": "2374c97dd3b30b56",
        "type": "ui_button",
        "z": "d98fcec3c900c047",
        "name": "+KI",
        "group": "627022014fc73fb4",
        "order": 8,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "+KI",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ki+",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 800,
        "wires": [
            [
                "878fc7a8e24eab15"
            ]
        ]
    },
    {
        "id": "495686ca04918a88",
        "type": "ui_button",
        "z": "d98fcec3c900c047",
        "name": "-KI",
        "group": "627022014fc73fb4",
        "order": 9,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "-KI",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ki-",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 840,
        "wires": [
            [
                "878fc7a8e24eab15"
            ]
        ]
    },
    {
        "id": "fb2f2ab2870a096e",
        "type": "mqtt in",
        "z": "d98fcec3c900c047",
        "name": "TIRLSK Robot",
        "topic": "AzureLab62",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a58e737f0d9acfde",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 320,
        "wires": [
            [
                "1ae9779cd1856f25"
            ]
        ]
    },
    {
        "id": "1ae9779cd1856f25",
        "type": "json",
        "z": "d98fcec3c900c047",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "9b20fe7baab588b6",
                "210e900569b44c9e",
                "7f072201536a98e4",
                "fddb90c1b7314ad2",
                "ea525e43f9b126c6",
                "24558498128fc95d"
            ]
        ]
    },
    {
        "id": "33120d710438aa21",
        "type": "ui_button",
        "z": "d98fcec3c900c047",
        "name": "+PWMNOMINAL",
        "group": "627022014fc73fb4",
        "order": 15,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "+PWMNOMINAL",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "pwm+",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 900,
        "wires": [
            [
                "878fc7a8e24eab15"
            ]
        ]
    },
    {
        "id": "4abe442113e2e42e",
        "type": "ui_button",
        "z": "d98fcec3c900c047",
        "name": "-PWMNOMINAL",
        "group": "627022014fc73fb4",
        "order": 16,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "-PWMNOMINAL",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "pwm-",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 940,
        "wires": [
            [
                "878fc7a8e24eab15"
            ]
        ]
    },
    {
        "id": "4226c7ed245f89d3",
        "type": "ui_button",
        "z": "d98fcec3c900c047",
        "name": "+SWING",
        "group": "627022014fc73fb4",
        "order": 19,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "+SWING",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "swg+",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 1000,
        "wires": [
            [
                "878fc7a8e24eab15"
            ]
        ]
    },
    {
        "id": "8b3aa6c2f1a1623f",
        "type": "ui_button",
        "z": "d98fcec3c900c047",
        "name": "-SWING",
        "group": "627022014fc73fb4",
        "order": 20,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "-SWING",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "swg-",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 1040,
        "wires": [
            [
                "878fc7a8e24eab15"
            ]
        ]
    },
    {
        "id": "ea525e43f9b126c6",
        "type": "ui_text",
        "z": "d98fcec3c900c047",
        "group": "627022014fc73fb4",
        "order": 14,
        "width": 4,
        "height": 1,
        "name": "PWM",
        "label": "PWM",
        "format": "{{msg.payload.PWM}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "24558498128fc95d",
        "type": "ui_text",
        "z": "d98fcec3c900c047",
        "group": "627022014fc73fb4",
        "order": 18,
        "width": 4,
        "height": 1,
        "name": "SWING",
        "label": "SWING",
        "format": "{{msg.payload.SWG}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 480,
        "wires": []
    },
    {
        "id": "8b7a93f0c462fd6c",
        "type": "mqtt in",
        "z": "d98fcec3c900c047",
        "name": "MaxSpeed",
        "topic": "MaxSpeed",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a58e737f0d9acfde",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 480,
        "wires": [
            [
                "152b80e5427f3d85"
            ]
        ]
    },
    {
        "id": "152b80e5427f3d85",
        "type": "json",
        "z": "d98fcec3c900c047",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1070,
        "y": 480,
        "wires": [
            [
                "29b05401830afdbd",
                "bf2636de34911bae"
            ]
        ]
    },
    {
        "id": "29b05401830afdbd",
        "type": "debug",
        "z": "d98fcec3c900c047",
        "name": "JSON Global Values",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 500,
        "wires": []
    },
    {
        "id": "bf2636de34911bae",
        "type": "ui_text",
        "z": "d98fcec3c900c047",
        "group": "627022014fc73fb4",
        "order": 12,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "MaxSpeed",
        "format": "{{msg.payload.ms}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1250,
        "y": 440,
        "wires": []
    },
    {
        "id": "e62c980865649c93",
        "type": "mqtt in",
        "z": "d98fcec3c900c047",
        "name": "",
        "topic": "Timer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a58e737f0d9acfde",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 640,
        "wires": [
            [
                "5bb869da545e5dd6"
            ]
        ]
    },
    {
        "id": "857f58f49e9cead6",
        "type": "ui_text",
        "z": "d98fcec3c900c047",
        "group": "627022014fc73fb4",
        "order": 10,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "TrackTimeMinutes",
        "format": "{{msg.payload.minutes}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1390,
        "y": 720,
        "wires": []
    },
    {
        "id": "9e26bbbe125eafb1",
        "type": "ui_text",
        "z": "d98fcec3c900c047",
        "group": "627022014fc73fb4",
        "order": 11,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "TrackTimeSecs",
        "format": "{{msg.payload.seconds}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1380,
        "y": 820,
        "wires": []
    },
    {
        "id": "32f365ca9a1f48a9",
        "type": "mqtt in",
        "z": "d98fcec3c900c047",
        "name": "",
        "topic": "RESET",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a58e737f0d9acfde",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 790,
        "y": 760,
        "wires": [
            [
                "d1dfd5d6cd1baefb"
            ]
        ]
    },
    {
        "id": "d1dfd5d6cd1baefb",
        "type": "function",
        "z": "d98fcec3c900c047",
        "name": "Total_Time",
        "func": "    var i = flow.get(\"inital_value\");\n    var now = Date.now();\n    var el = now - i;\n    flow.set(\"debug\", now);\n    flow.set(\"debug2\", el);\n    var seconds = Math.floor(el / 1000);\n    var minutes = Math.floor(seconds / 60);\n    seconds = seconds % 60;\n    node.send({ payload: { minutes: minutes, seconds: seconds } });",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 780,
        "wires": [
            [
                "9e26bbbe125eafb1",
                "857f58f49e9cead6",
                "94aba15fee543eea"
            ]
        ]
    },
    {
        "id": "5bb869da545e5dd6",
        "type": "function",
        "z": "d98fcec3c900c047",
        "name": "StartTime",
        "func": "\nflow.set(\"inital_value\", Date.now());\nnode.send({ payload: { minutes: 0, seconds: 0 } });",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 640,
        "wires": [
            [
                "8bf1b00c9fa62876",
                "857f58f49e9cead6",
                "9e26bbbe125eafb1"
            ]
        ]
    },
    {
        "id": "8bf1b00c9fa62876",
        "type": "debug",
        "z": "d98fcec3c900c047",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 640,
        "wires": []
    },
    {
        "id": "94aba15fee543eea",
        "type": "debug",
        "z": "d98fcec3c900c047",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 880,
        "wires": []
    },
    {
        "id": "1b4d130686f632e9",
        "type": "ui_spacer",
        "z": "d98fcec3c900c047",
        "name": "spacer",
        "group": "627022014fc73fb4",
        "order": 6,
        "width": 10,
        "height": 1
    },
    {
        "id": "2a99613fc9c19cab",
        "type": "ui_spacer",
        "z": "d98fcec3c900c047",
        "name": "spacer",
        "group": "627022014fc73fb4",
        "order": 17,
        "width": 10,
        "height": 1
    },
    {
        "id": "a58e737f0d9acfde",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "627022014fc73fb4",
        "type": "ui_group",
        "name": "TI-RLSK Dashboard",
        "tab": "31680a697981acd1",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "31680a697981acd1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]