Write up/PubSubFlow.json
[
    {
        "id": "d98fcec3c900c047",
        "type": "tab",
        "label": "PubSubFlow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cb7654c26cbb016d",
        "type": "comment",
        "z": "d98fcec3c900c047",
        "name": "Subscribe to a Topic",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "d0fa14275eab6771",
        "type": "comment",
        "z": "d98fcec3c900c047",
        "name": "Publish to a Topic",
        "info": "",
        "x": 110,
        "y": 320,
        "wires": []
    },
    {
        "id": "deb5a72da38d6b4d",
        "type": "mqtt in",
        "z": "d98fcec3c900c047",
        "name": "TIRLSK Robot",
        "topic": "AzureLab6",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a58e737f0d9acfde",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "6b1cf5df7cd048db"
            ]
        ]
    },
    {
        "id": "878fc7a8e24eab15",
        "type": "mqtt out",
        "z": "d98fcec3c900c047",
        "name": "Azure Server",
        "topic": "Lab6MQTT",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a58e737f0d9acfde",
        "x": 410,
        "y": 360,
        "wires": []
    },
    {
        "id": "3ffcfea05f3adbf7",
        "type": "ui_button",
        "z": "d98fcec3c900c047",
        "name": "Start",
        "group": "627022014fc73fb4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "go",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "878fc7a8e24eab15"
            ]
        ]
    },
    {
        "id": "60ff8faadba31de5",
        "type": "ui_button",
        "z": "d98fcec3c900c047",
        "name": "Stop",
        "group": "627022014fc73fb4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "878fc7a8e24eab15"
            ]
        ]
    },
    {
        "id": "c9bd2d391dbe34cb",
        "type": "ui_gauge",
        "z": "d98fcec3c900c047",
        "name": "Left Wheel RPMs",
        "group": "627022014fc73fb4",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Left Wheel RPMs",
        "label": "units",
        "format": "{{msg.payload.ActualL}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "6b1cf5df7cd048db",
        "type": "json",
        "z": "d98fcec3c900c047",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "c9bd2d391dbe34cb",
                "79f629d9816a0870",
                "fddb90c1b7314ad2",
                "b574145947b69656",
                "b74bc8c6d6cf54e7",
                "d6213af919959838"
            ]
        ]
    },
    {
        "id": "79f629d9816a0870",
        "type": "ui_gauge",
        "z": "d98fcec3c900c047",
        "name": "Right Wheel RPMs",
        "group": "627022014fc73fb4",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Right Wheel RPMs",
        "label": "units",
        "format": "{{msg.payload.ActualR}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "fddb90c1b7314ad2",
        "type": "debug",
        "z": "d98fcec3c900c047",
        "name": "JSON from Robot",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "b574145947b69656",
        "type": "ui_text",
        "z": "d98fcec3c900c047",
        "group": "627022014fc73fb4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Left Distance",
        "label": "Left Distance",
        "format": "{{msg.payload.Distance0}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "b74bc8c6d6cf54e7",
        "type": "ui_text",
        "z": "d98fcec3c900c047",
        "group": "627022014fc73fb4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Center Distance",
        "label": "Center Distance",
        "format": "{{msg.payload.Distance1}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "d6213af919959838",
        "type": "ui_text",
        "z": "d98fcec3c900c047",
        "group": "627022014fc73fb4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Right Distance",
        "label": "Right Distance",
        "format": "{{msg.payload.Distance2}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "a58e737f0d9acfde",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "627022014fc73fb4",
        "type": "ui_group",
        "name": "LAB6",
        "tab": "31680a697981acd1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "31680a697981acd1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]